/* Add the necessary styling similar to the previous one or customize as needed */

.container {
  max-width: 94%;
}

.card {
  border-radius: 10px;
}

.product-line-items .form-control {
  max-width: 100px;
}

.table th, .table td {
  vertical-align: middle;
}

.btn-link {
  color: #007bff;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .product-line-items .form-control {
    max-width: 80px;
  }

  .invoice-preview table {
    font-size: 14px;
  }
}


.invoice-preview{
  background-color: #f5f5f7;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
}

.invoice-header h4, .invoice-header h5 {
  margin: 0;
  font-size: 1.1rem;
}

.invoice-header p, .invoice-to p {
  font-size: 0.85rem;
  margin: 0;
}

.table th, .table td {
  font-size: 0.9rem;
  text-align: center;
  vertical-align: middle;
}

.payment-details h6 {
  font-size: 1rem;
  font-weight: bold;
}

.payment-details p, .notes p {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.invoice-preview .card {
  border: none;
}

h5 {
  color: #6c757d;
}

h4 {
  color: #333;
}

.notes {
  font-style: italic;
}

hr {
  margin: 1.5rem 0;
}

.text-end {
  text-align: right;
}


/* icon */
.btn-outline-icon{
  padding: 5px;
  background-color: #f5f5f7;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
}